*.idea
*.iml
*.txt
*.lst
*.jar
*.ear
*.classpath
*.project
*.settings
.idea

*/target

node_modules

adenje-angular/target
adenje-dto/target
adenje-ear/target
adenje-interface-servico/target
adenje-servidor/target
adenje-web/target
